.register-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.site-title {
    text-align: center;
    font-size: 60px;
    color: #EC87EF;
    margin-bottom: 10px;
    font-weight: normal;
    font-family: 'Lora', serif;
}

.container-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    font-family: 'Hiragino Mincho Pro', serif;
}

.step-title {
    font-size: 16px;
    color: #555;
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
}

.form-list {
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
}

.form-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-item label {
    width: 120px;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    text-align: left;
}

.weight-input-container {
    display: flex;
    align-items: center;
}

.form-item input[type="text"] {
    flex: 1;
    padding: 11px 10px;
    font-size: 16px;
    border: 1px solid #e0dfde;
    border-radius: 5px;
    width: 470px;
    margin-right: 10px;
}

.form-item input[type="text"]::placeholder {
    color: #cdcdcd;
}

.form-item .weight-unit {
    white-space: nowrap;
    font-size: 16px;
    padding-top: 24px;
    color: #333;
}

.button,
btn-register {
    display: block;
    margin: 0 auto 10px auto;
    width: 250px;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(90deg, #A3A6E1, #FFABD9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover,
.btn-register:hover {
    background: linear-gradient(90deg, #FFABD9, #A3A6E1);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}